@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');




/* Synchronize scrollbar thumb with textarea scroll */
textarea::-webkit-scrollbar {
}
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
::-webkit-scrollbar-thumb {
    background-color: #cc3843 ;
    width: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar {
    /* border: 1px solid red; */
    background-color: transparent;
    /* background-image: linear-gradient(-45deg, #cc3843 0%, #cb193f 100%); */
    border-radius: 20px;
}
.header {
    padding-left: 5px;
    min-height: 80px;
    background-color: rgba(0, 0, 0, 0.7);
}
.header{
    position: relative;
}
body {
    /* padding: 5px; */
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: rgba(0, 0, 0, 0.3);

    background-image: url(top-view-notebook-with-floral-branches.jpg);
    background-size: cover;
    background-blend-mode: color;
}
.header button:hover{
    cursor: pointer;

}

.header a:hover{
    cursor: pointer;

}
.box {
    font-size: 20px;
    height: fit-content;
    padding: 20px;
    margin: 5px auto;
    /* margin-left: 10px;
    margin-right: 10px; */
    margin-top: 15vh;
    border: 1px solid grey;
    border-radius: 25px;
    max-width: 800px;
    text-align: center;
    border-color: rgb(252 165 165);
    /* box-shadow: 5px 5px 10px black; */
    background-color: rgba(254 226 226);
}
textarea {
    all: unset;
    height: 400px;
    margin-bottom: 10px;
    width: 98%;
    max-width: 98%;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    padding-right: 0px;
    word-wrap: break-word; /* Ensure words wrap properly */
    resize: vertical; /* Allow only vertical resizing */
    overflow-x: hidden; /* No horizontal overflow */
}
button {
    all: unset;
    min-width: 100px;
    color: whitesmoke;
    padding: 15px 1px;
    border-radius: 20px;
    background-image: linear-gradient(-45deg, #cc3843 0%, #cb193f 100%);
    /* background-color: ; */
}
button:hover{
    cursor: pointer;
}
.header button{
    all:unset;
    font-size: 20px;
    /* padding-top: 70px; */
    font-family: Inter;
    color: white;
    padding: 20px;
    padding-top: 25px;

}
.header .right{
    position: absolute;
    right: 30px;
    top: 16px;
    /* background-image: linear-gradient(-45deg, #cc3843 0%, #cb193f 100%); */
    padding: 8px;
    border-bottom: 1px solid wheat;
    /* border-radius: 30px; */
}