<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="static/about.css">
</head>
<body>
        <div class="header">
            <header>
            <a href="/" style="all: unset"><button>Home</button></a>    
            <a href="/aboutus" style="all: unset"><button>About Us</button></a>    
            <a href="/login" style="all: unset"><button class="right">Sign In</button></a>    
               
            </header>
        </div>

    <div class="container">
        <h1>About Mike Hawk</h1>

        

        <div class="team-grid"> 
            <div class="team-member">
                <img src="/static/asif.png" alt="asif">
                <h3>SK Asif Tanvir</h3>
                <p class="role">Lead User Experience Dev</p>
                <p>Visionary leader driving innovation and smooth user experience</p>
            </div>
            <div class="team-member">
                <img src="/static/arit.png" alt="aritro">
                <h3>Aritro Shome</h3>
                <p class="role">Lead Backend Dev</p>
                <p>Tech guru ensuring cutting-edge solutions</p>
            </div>
            <div class="team-member">
                <img src="/static/pray.png" alt="prayas">
                <h3>Prayas Sinha</h3>
                <p class="role">Functionality Dev</p>
                <p>Strategist expanding ingenious ideas</p>
            </div>
            <div class="team-member">
                <img src="/static/ved.png" alt="vedanta">
                <h3>Vedanta Saha</h3>
                <p class="role">User Interface Dev</p>
                <p>Creative mind behind our stunning visuals</p>
            </div>
        </div>
    </div>
</body>
</html>
