<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-content">
            
            <ul class="navbar-links">
                <li><a href="home.html">Home</a></li>
                <li><a href="articles.html">Articles</a></li>

            </ul>
            <button class="sign">Sign in</button>
        </div>
    </nav>

    <div class="container">
        <h1>About Mike Hawk</h1>

        

        <div class="team-grid"> 
            <div class="team-member">
                <img src="asif.png" alt="asif">
                <h3>SK Asif Tanvir</h3>
                <p class="role">Lead User Experience Dev</p>
                <p>Visionary leader driving innovation and smooth user experience</p>
            </div>
            <div class="team-member">
                <img src="arit.png" alt="aritro">
                <h3>Aritro Shome</h3>
                <p class="role">Lead Backend Dev</p>
                <p>Tech guru ensuring cutting-edge solutions</p>
            </div>
            <div class="team-member">
                <img src="pray.png" alt="prayas">
                <h3>Prayas Sinha</h3>
                <p class="role">Functionality Dev</p>
                <p>Strategist expanding ingenious ideas</p>
            </div>
            <div class="team-member">
                <img src="ved.png" alt="vedanta">
                <h3>Vedanta Saha</h3>
                <p class="role">User Interface Dev</p>
                <p>Creative mind behind our stunning visuals</p>
            </div>
        </div>
    </div>
</body>
</html>