<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/articles.css">
</head>

<body>

    <header class="header">
        <a href="/" style="all: unset"><button>Home</button></a>
        <a href="/aboutus" style="all: unset"><button>About Us</button></a>
        <a href="/login" style="all: unset"><button class="log">Sign In</button></a>
        <!-- <button>HOME</button> -->
        <!-- <button>ABOUT US</button> -->
        <!-- <button class="log">Sign In</button> -->
    </header>
    <div class="wrapper">
        <div class="card">
            <div class="poster"><img src="https://i.postimg.cc/jjBSrfnQ/poster1-img.jpg" alt="Location Unknown"></div>
            <div class="details">
                <h1>Mood Upliftment</h1>
                <!-- <h2>2021 • PG • 1hr 38min</h2> -->
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>

                </div>
                <p class="desc">
                    Let's see how the article helps you to uplift your mood.
                </p>

                <button class="btn">Read More</button>
                <div class="cast">
                    <!-- <h3>Cast</h3>
                    <ul>
                        <li><img src="https://i.postimg.cc/jqgkqhSb/cast-11.jpg" alt="Marco Andrews" title="Marco Andrews"></li>
                        <li><img src="https://i.postimg.cc/8P7X7r7r/cast-12.jpg" alt="Rebecca Floyd" title="Rebecca Floyd"></li>
                        <li><img src="https://i.postimg.cc/2SvHwRFk/cast-13.jpg
                        " alt="Antonio Herrera" title="Antonio Herrera"></li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="poster"><img src="https://i.postimg.cc/GtxLYS7q/poster2-img.jpg" alt="Location Unknown"></div>
            <div class="details">
                <h1>Physial Exercise</h1>
                <!-- <h2>2020 • PG • 24min</h2> -->
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>

                </div>
                <p class="desc">
                    Let's see how the article helps you to do physical exercise.
                </p>

                <button class="btn">Read More</button>
                <div class="cast">
                    <!-- <h3>Cast</h3>
                    <ul>
                        <li><img src="https://i.postimg.cc/yY2QcYRp/cast-21.jpg" alt="Angelina Whyte" title="Angelina Whyte"></li>
                        <li><img src="https://i.postimg.cc/R0BgpsXc/cast-22.jpg" alt="Ivan Benson" title="Ivan Benson"></li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="poster"><img src="https://i.postimg.cc/yxH6DzPD/poster3-img.jpg" alt="Location Unknown"></div>
            <div class="details">
                <h1>Mental Health</h1>
                <!-- <h2>2021 • R • 1hr 41min</h2> -->
                <div class="rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <!-- <span>4.7/5</span> -->
                </div>
                <p class="desc">
                    Let's see how the article helps you to maintain your mental health.
                </p>

                <button class="btn">Read More</button>
                <div class="cast">
                    <!-- <h3>Cast</h3>
                    <ul>
                        <li><img src="https://i.postimg.cc/xd3twv4B/cast-31.jpg" alt="Jessica Enduro" title="Jessica Enduro"></li>
                        <li><img src="https://i.postimg.cc/C1MmSZy5/cast-32.jpg" alt="Charles Garcia" title="Charles Garcia"></li>
                    </ul> -->
                </div>



            </div>
        </div>
    </div>
</body>

</html>