<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../static/journal.css" />
    </head>
    <body>
        <div class="header">
            <header>
                <button onclick="loadHome()">Home</button>
                <button onclick="loadAbout()">About Us</button>
                <button onclick="loadDash()" class="right">Dashboard</button>
            </header>
        </div>
        <div style="margin: auto; padding: 10px;">
            {% for j in journs %}
            <div class="box" style="text-align: left;">
                <div class="date_today" style="font-weight: bold; margin-bottom: 10px;">
                    {{j['date']}}
                </div>
                {{j['content']}}
            </div>
            {% endfor %}
        </div>
        <script src="/static/getjourn.js"></script>
    </body>
</html>
