<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="static/journal.css" />
    </head>
    <body>
        <div class="header">
            <header>
                <button onclick="loadHome()">Home</button>
                <button onclick="loadAbout()">About Us</button>
                <button onclick="loadDash()" class="right">Dashboard</button>
            </header>
        </div>
        <div style="margin: auto; padding: 10px;">
            <div class="box">
                <h1 style="margin-bottom: 30px">Journal</h1>
                <textarea
                    name="journals"
                    id="journalTxt"
                    placeholder="Write your thoughts here..."
                    value="{{textVal}}"
                >{{textVal}}</textarea>
                <br />
                <button onclick="submit_journal()">Submit</button>
                <button onclick="get_journal()" style="padding: 15px 13px;">Get Journals</button>
            </div>
        </div>
    <script src="/static/journal.js"></script>
    </body>
</html>
